.each-price {
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
    padding: 10px 10px;
}
.each-price h4 {
    color:  rgb(0, 140, 255);
}

.ps {
    box-shadow: 0px 0px 30px rgba(0, 217, 255, 0.5) !important;
}

.pg {
    box-shadow: 0px 0px 30px rgba(251, 255, 0, 0.9) !important;
}

.bronze-am {
    background-image: url('../../img/bronze-price-gon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
    width: 200px;
    height: 140px;
    padding-top: 30px;
    margin: auto;
}

.silver-am {
    background-image: url('../../img/silver-price-gon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
    width: 200px;
    height: 140px;
    padding-top: 30px;
    margin: auto;
}

.gold-am {
    background-image: url('../../img/gold-price-gon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
    width: 200px;
    height: 140px;
    padding-top: 30px;
    margin: auto;
}

.y {
    color: rgb(217, 221, 0);
}

.b {
    color: rgb(0, 217, 255);
}
