.site-content {
    padding: 10px 20px;
    padding-bottom: 0 !important;
    text-align: center;
}

.services-sec {
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 10px 15px;
}

.img-circle {
    border-radius: 50%;
    width: 100px;
}

.service-break {
    background-color: rgb(255, 101, 101);
    height: 1px;
    width: 130px;
}

.sec-header {
    color: rgb(0, 140, 255);
}

.sh-uline {
    background-color: red;
    height: 1px;
    width: 80px;
    margin-top: -8px;
}
